GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=1glfXQvSi1rXArACkO6ZueXvLdVzg1KL2h6Q7MUTHLkU
GOOGLE_ROOT_FOLDER_ID=13h3GF7r6DqEzbVmyQxK4XNUB5vcaCn_3
ALLOWED_ADMIN_EMAILS=wooramjadong@gmail.com
NEXTAUTH_SECRET=
OPENAI_API_KEY=
